@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
	<h1>Hello, world!</h1>
	<h2>The time on the server is @DateTime.Now</h2>
</div>
